{% extends 'base.html' %} {%block content%}
<div class="offset-3 col-md-6">
    {% if messages %} {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %} role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>{{ message }}</strong>
    </div>
    {% endfor %} {% else %}
    <form method="post"> {%csrf_token%}
        <div class="form-group">
            {{form.as_p}}
        </div>
        <button class="btn btn-outline-primary offset-10" type="submit">Save</button>
    </form>
</div>
{% endif %} {%endblock %}